.chat-list {
    padding: 0 1rem;
    background-color: white;
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
}

.chat-tab {
    position: relative;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    flex-basis: 100%;

}